/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
// Overall CSS
* {
  font-family: 'Josefin Sans', sans-serif;
}
 html, body {
  height: 100%;
 }

 body {
   padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
 }

 /* 404 Page Styles */
 .error-404 {
     font-size: 100px;
 }
 /* Footer Styles */

 footer {
     margin: 50px 0;
     text-align: center;
     align-items: center;
     clear:both;
 }
 #footer{
   border-top: 5px;
   min-height: 20px;
   background-color: #262626;
   color: #999999;
 }

// Navbar info
#web-app-title{
  font-family: 'Lobster', cursive;
  font-size: 30px;
  clear: both;
  text-align: center;
}
.title-with-icon{
  display: inline-block;
  margin-top: 8px;
}
// Page general info
#title-image {
  background-image: url(http://static1.squarespace.com/static/55ab2973e4b0e800df5d8627/55ab4842e4b0249b70d439c0/56fb11e8f8baf30bc33c451c/1459294737727/swing-dance-vintage.jpg?format=1000w);
  background-size: cover;
  background-attachment: fixed;
  opacity: .9;
	background-color: black;
  padding-bottom: 100px;
}
.landing-page-text{
  color: #fff;
  font-size: 150px;
  text-shadow: 0 0 20px rgba(0,0,0,0.5);
  font-family: 'Lobster', cursive;
  text-align: center;
}
.section-header{
  box-shadow: -30px 0 30px rgba(0, 0, 0, 0.5);
  background-color: #262626;
  margin: 20px 0 20px 0;
}
.title-section{
  font-family: 'Lobster', cursive;
  font-size: 80px;
  color: white;
  clear: both;
  text-align: center;
  margin: 0 0 0 0;
}
.search-title{
  font-family: 'Lobster', cursive;
  font-size: 18px;
  clear: both;
  text-align: center;
  margin: 0 0 0 0;
}
.info-points{
  font-weight: 700;
  text-align: center;
  font-size: 18px;
}
.info-points-data{
  text-align: center;
}
#sign-in-well{
  display: inline;
  text-align: center;
  clear: both;
}
input[type=submit] {
    padding:5px 15px;
    background: #ccc;
    border:1px solid black;
    cursor:pointer;
    border-radius: 5px;
    color: black;
    transition-property: background, box-shadow;
    transition-duration: .3s;
    transition-timing-function: linear;
}
input[type=submit]:hover {
    padding:5px 15px;
    background: #ccffff;
    border:1px solid black;
    cursor:pointer;
    border-radius: 5px;
    box-shadow: -2px 2px 2px #888888;
    color: black;
}
// About
.about-info{
  padding: 25px 0 25px 0;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

// Adverts
.advertising-space{
  border: solid #cccccc 1px;
  border-radius: 5px;
  min-height: 300px;
  margin: 10px 0 10px 0;
}
// Page Panel info
#event-title{
  font-family: 'Lobster', cursive;
  font-size: 50px;
}
.panel.panel-default{
  box-shadow: -7px 7px 5px #888888;
}
.panel-heading{
  text-align: center;
}
.panel-title{
  min-height: 80px;
  vertical-align: middle;
}
.event-tab a{
  color: black;
  font-weight: 700;
  font-size: 20px;
  margin: none;
}
.event-tab :hover{
  text-decoration: none;
  color: black;
  font-weight: 700;
  text-shadow: -1px 1px #9d9d9d;
}
#nearest-event-title a{
  color: black;
  font-weight: 700;
  font-size: 35px;
  margin: none;
}
#nearest-event-title :hover{
  text-decoration: none;
  color: black;
  font-weight: 700;
  text-shadow: -1px 1px #9d9d9d;
}
.panel-body.main{
  text-align: center;
  min-height: 120px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.panel-body.main p{
  margin: 0;
}
.event-date{
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  vertical-align: middle;
  margin-bottom: 0px;
}
.panel-bottom{
  margin: none;
  text-align: center;
  min-height: 10px;
}
.mini-panel{
  margin-top: 25px;
}
.mini-panel-bottom{
  padding: 0 0 0 0;
}

 //Still messing with this functionality. It is not finalized, and will change
.going{
  background-color: #e6ffe6;
  border: solid #cccccc 1px;
  border-radius: 5px;
  background-size: cover;
}
.not-going{
  background-color: #ffe6e6;
  border: solid #cccccc 1px;
  border-radius: 5px;
  background-size: cover;
}
// end section above
//
.footer-with-icon{
  display: inline-block;
}
.event-image-thumbnail{
  width: 40px;
  height: 40px;
  border-radius: 4px;
  float:left;
}
.glyphicon-ok-sign{
  font-size: 40px;
  color:green;
}
.glyphicon-remove{
  font-size: 40px;
  color:#992600;
}
#pagination{
  text-align: right;
  font-size: 28px;
}

// Events Full Info Page
.event-description-body{
  min-height: 100px;
}
.external-event-site-button{
  display: inline-block;
}
.event-description-sidebar{
  min-height: 150px;
  align-items: center;
  text-align: center;
}
.facebook-link-to-event{
  display: inline-block;
  transition-property: box-shadow;
  transition-duration: .3s;
  transition-timing-function: linear;
}
.facebook-link-to-event img{
  max-width: 40px;
  display: inline-block;
}
.facebook-link-to-event:hover {
    border:1px solid black;
    border-radius: 3px;
    box-shadow: -2px 2px 2px #888888;
}

// Social Networking
.social-icons{
  align-items: center;
  text-align: center;
}
.social-icons :link :hover{
  opacity:.8;
}
