<div class = "container">
  <div class="row">
    <div class="col-xs-6">
      <h1>About</h1>
      <h5>Do you swing dance? </h5>
      <h5>Are you looking to learn to swing dance?</h5>
      <h5> Do you have a hard time keeping track of the events you’ve signed up for?  </h5>
      <hr>
      <h2>Welcome to alltheswingdancing.com!  </h2>
      <p>The user-driven dance event posting site!</p>
      <p>Keeping all your events in one handy location</p>
    </div>
    <div class="col-xs-6">
      <%=image_tag("alltheswingdancing2x500.png")%>
    </div>
</div>
