.container
  .row
    .col-xs-6
      %h1.title-section About
      %h2.title-section All The Swing Dancing
      %p{style: "text-align:center;"} The user-driven dance event posting site, keeping all your events in one handy location
      %hr/
    .col-xs-6
      = image_tag("alltheswingdancing2x500.png")
