.container
  .row
    .col-xs-6
      %h1 About
      %h5 Do you swing dance? 
      %h5 Are you looking to learn to swing dance?
      %h5  Do you have a hard time keeping track of the events you’ve signed up for?  
      %hr/
      %h2 Welcome to alltheswingdancing.com!  
      %p The user-driven dance event posting site!
      %p Keeping all your events in one handy location
    .col-xs-6
      = image_tag("alltheswingdancing2x500.png")
