.container
  .row
    %h1 Contact Us
    .col-xs-6
      %p You could totally do that if I gave you the ability.
      %p What makes you think I'd even want that?
      = link_to "Back with you!", root_url, class: "btn btn-warning btn-lg"
